body{
    display: flex;
    align-items: center;
    justify-content: center;
    }

.box{
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 2px;
    font-size: 80px;
    text-align: center;


}
.black{
    background-color: black;
    color: white;
    margin: 2px;
    font-size: 80px;
    text-align: center;

}